<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation test suit for capsule crm">

	<listeners>
	<listener class-name="com.CRM.qa.listener.Listner"></listener>
	</listeners>

  <test name="Creating and validating Person" preserve-order="true">
    <classes>
      <class name="com.CRM.testcases.TestSetup"/>
      <class name="com.CRM.testcases.PartiesPageTest"/>
    </classes>
  </test> 
  
  
    <test name="validating account Settings pages" preserve-order="true">
  	<classes>
  	
  	  <class name="com.CRM.testcases.TestSetup"/>
      <class name="com.CRM.testcases.AccountSettingPageTest"/>
    </classes>
   </test>
   
   
</suite> <!-- Suite -->
